@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}


.svg-main {
    animation: b 5s infinite;
}

@keyframes b {
    0%, 100% {
      transform: translateY(-15%);
      animation-timing-function: cubic-bezier(.49,.47,.54,.59);
    }
    50% {
      transform: translateY(10%);
      animation-timing-function: cubic-bezier(.49,.47,.54,.59);
    }
    
}
